.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.planemessage {
    background-color: darkgrey;
}

.smallmessageformfield {
    width: 30%;
}

.padding {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.borders {
    border-style: groove;
}